# Lab | Web Scraping Single Page (GNOD part 1)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

We try to find the correct path in the web.

In [6]:
# body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper

In [7]:
# soup.select('body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper')

In [8]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite

In [9]:
soup.select('#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite')

We try with '.title' and it works (thanks to Lilit). It seems like only 'cite' tags have the attribute 'title'.

In [10]:
songs = soup.select('.title')
artists = soup.select('.artist')

In [11]:
# songs

In [12]:
# artists

We get the text from each tag and store them in lists that we then transform into a dataframe.

In [13]:
titles = []
for cite in songs:
    titles.append(cite.get_text())

In [14]:
singers = []
for cite in artists:
    singers.append(cite.get_text())

In [15]:
top100_20230409 = pd.DataFrame({"title":titles,
                       "artist":singers,
                      })

In [16]:
top100_20230409

                                         title                        artist
0                               Margaritaville                 Jimmy Buffett
1                                  Come Monday                 Jimmy Buffett
2                   Rich Men North of Richmond          Oliver Anthony Music
3                     Cheeseburger In Paradise                 Jimmy Buffett
4   Changes In Latitudes, Changes In Attitudes                 Jimmy Buffett
..                                         ...                           ...
95                Can't Get Enough of You Baby                   Smash Mouth
96                           Spirit In the Sky              Norman Greenbaum
97                             bad idea right?                Olivia Rodrigo
98                                   Whiteboyz  Tom MacDonald & Adam Calhoun
99                            Bring Me to Life                   Evanescence

[100 rows x 2 columns]

# Lab | Web Scraping Multiple Pages

Expand the project
If you're done, you can try to expand the project on your own. Here are a few suggestions:
- Find other lists of hot songs on the internet and scrape them too: having a bigger pool of songs will be awesome!
- Apply the same logic to other "groups" of songs: the best songs from a decade or from a country / culture / language / genre.

In [17]:
url = "https://en.wikipedia.org/wiki/List_of_songs_recorded_by_Frank_Sinatra"

In [18]:
response = requests.get(url)

In [19]:
response.status_code

200

In [20]:
soup = BeautifulSoup(response.content, "html.parser")

First, we see the data is inside the second table and we find the path inside the table.

In [21]:
table = soup.select("table")[1]

In [22]:
# table.select('tbody > tr > td > a')

We loop through the list to obtain the names and then store the new list in a dataframe.

In [23]:
songs_sinatra = []
for e in table.select('tbody > tr > td > a'):
    song = e.get_text()
    if song is not None:
        songs_sinatra.append(e.get_text())

In [24]:
len(songs_sinatra)

2356

In [25]:
songs_sinatra = pd.DataFrame({'Sinatra_song': songs_sinatra})

In [26]:
songs_sinatra

                            Sinatra_song
0          Ac-cent-tchu-ate the Positive
1                           Harold Arlen
2                          Johnny Mercer
3                           Johnny Burke
4                       Jimmy Van Heusen
...                                  ...
2351                       Ludwig Herzer
2352                         Franz LehÃ¡r
2353                   Fritz LÃ¶hner-Beda
2354  Zing! Went the Strings of My Heart
2355                     James F. Hanley

[2356 rows x 1 columns]